.loader {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center; /* Центрирует по вертикали */
  background-color: var(--gray-light);
  margin: 0 auto;
}
