.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
  background-color: white;
  border-radius: 24px;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 12px;
  border: 3px solid var(--light);
}

.wrapper {
  width: 100%;
}

.subtitle {
  margin-right: 192px;
  color: var(--accent);
  line-height: 1.5;
}
.wrap {
  width: 100%;
  display: flex;
  gap: 32px;
}

.headerItem {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconWithText {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.iconWithText:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 16px;
  background-color: var(--accent);
}

.book {
  width: 16px;
  height: 16px;
  fill: transparent;
  stroke: black;
}

.spanText {
  line-height: 1.5;
}

.price {
  color: var(--price);
}

.star {
  width: 16px;
  height: 16px;
  fill: var(--dark);
}

.heart {
  width: 26px;
  height: 26px;
  fill: transparent;
  stroke: black;
}

.heart use {
  width: 26px;
  height: 26px;
}

.title {
  margin-top: 8px;
  color: var(--main);
  font-size: 24px;
}

.wrapText {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info {
  color: var(--accent);
  line-height: 1.5;
}

.textLang {
  color: var(--main);
  text-decoration: underline;
}
.text {
  color: var(--main);
}

.read {
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  color: var(--main);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.button {
  display: block;
  margin: 64px auto 0;
  width: 184px;
  height: 60px;
  padding: 16px 48px;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: var(--dark);
  color: var(--main);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55;
}
