.header {
  padding: 20px 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.textLogo {
  color: var(--main);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.nav {
  display: flex;
  gap: 28px;
}

.link {
  color: var(--main);
  font-weight: 400;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.link:hover,
.link:focus {
  color: var(--light);
}

.active {
  color: var(--dark);
  font-weight: 700;
}

.wrapLogin {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: transparent;
}

.login {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  stroke: var(--dark);
  fill: none;
}

.text {
  color: var(--main);
  font-weight: 700;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.text:hover,
.text:focus {
  color: var(--dark);
}

.register {
  width: 166px;
  height: 48px;
  border-radius: 12px;
  padding: 14px 39px;
  background-color: var(--main);
  color: var(--white);
  transition: all 0.3s ease;
}

.register:hover,
.register:focus {
  color: var(--light);
}
