@import "modern-normalize";

:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark: #e0a39a;
  --light: #f2c0bd;
  --main: #121417;
  --accent: #8a8a89;
  --price: #38cd3e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 64px;
}
