@import "modern-normalize";

:root {
  font-family: Roboto, system-ui, sans-serif;
  font-size: 16px;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark: #e0a39a;
  --light: #f2c0bd;
  --main: #121417;
  --accent: #8a8a89;
  --price: #38cd3e;
  --background: #f8f8f8;
  --white: #ffffff;
  --border: rgba(18, 20, 23, 0.2);
  --book-text: rgba(18, 20, 23, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

svg,
svg * {
  all: unset;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  background-color: var(--background);
  width: 1440px;
  padding: 0 128px;
}
